services:
  - type: web
    name: karan-ipod-backend
    runtime: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python server.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: NODE_VERSION
        value: 18.0.0
      - key: PORT
        value: 10000
      - key: CORS_ORIGINS
        value: '*'
